
/* RESPONSIVE */

@media (max-width: 991.98px) {
    .banner-section{
        height: 110vh;
        margin-bottom: 30px;
    }
    .banner-text-empty{
        height: 0;
    }
    .banner-text p{
        font-size: 18px;
    }
    h1{
        font-size: 80px;
    }
    .banner-text{
        width: 100%;
    }
    .label-circle{
        width: 41%;
        margin-bottom: 30px;
        height: 230px;
    }
    .circle-area{
        height: 580px;
        justify-content: space-around;
    }
    .shows-card-section{
        padding: 0 !important;
    }
    .shows-card {
        width: 40% !important;
        margin-bottom: 40px;
        margin-right: 5% !important;
    }
    .reviews-card{
        width: 41% !important;
        margin-right: 8% !important;
        margin-bottom: 35px !important;
    }
    .title{
        margin-top: 0 !important;
    }

 }


 @media (max-width: 767.98px) { 
    .banner-section{
        height: 83vh;
        margin-bottom: 30px;
    }
    .banner-text-empty{
        height: 5px;
    }
    .banner-text p{
        font-size: 16px;
    }
    h1{
        font-size: 70px;
    }
    .label-circle {
        width: 45%;
        height: 200px;
    }
    .reviews-card{
        width: 80% !important;
    }
    .review-content-text h6{
        font-size: 18px;
    }
    .menu h6{
        font-size: 14px;
    }

  }


  @media (max-width: 575.98px) { 
      .logo{
          font-size: 26px;
          margin-left: -25px !important;
      }
      .header-section{
          margin: 0 !important;
          padding: 0 !important;
      }
      .banner-text{
          width: 100%;
          margin-top: 30px;
          margin-left: -70px !important;
      }
      h1{
          font-size: 21px;
      }
      .banner-text p{
          font-size: 10px;
      }
      .label-circle {
        width: 70%;
        height: 145px;
    }
    .label-circle {
        font-size: 14px;
    }
    .label-circle-text p{
        font-size: 14px;
    }
    .label-circle-text span{
        font-size: 21px;
    }
    .circle-area{
        padding-left: 0 !important;
        padding-top: 0 !important;
        margin-top: 0 !important;
    }
    .show-title{
        margin: 25px 0 !important;
    }
    .show-title h2{
        font-size: 12px;
    }
    .show-title a{
        font-size: 12px !important;
    }
    .shows-card-section{
        margin-left: 17px !important;
        padding-top: 25px !important;
    }
    .shows-card {
        width: 50% !important;
        margin-left: 55px;
    }
    .shows-card img{
        height: 150px !important;
    }
    .title{
        letter-spacing: 0px !important;
    }
    .shows-card-text button, h5, a, span{
        font-size: 12px !important;
        margin-right: 10px !important;
    }
    .reviews-card-section{
        margin-left: 0px !important;
        padding-top: 0px !important;
    }
    .reviews-card{
        width: 100% !important;
    }
    .reviews-card p{
        font-size: 10px;
    }
    .review-content-text h6{
        font-size: 12px !important;
    }
    .review-content-text p{
        font-size: 10px !important;
    }
    .review-title{
        margin: 20px 0 !important;
    }
    .review-title h2{
        font-size: 12px;
    }
    .review-title p {
        font-size: 12px;
        margin-right: -50px !important;
    }
    .menu h6{
        font-size: 10px;
    }

  }