body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Poppins', sans-serif;
  background-color: #0a0b1a;
}
h1{
  font-family: 'Newsreader', serif;
  color: white;
  font-weight: 700;
  font-size: 107px;
}
.logo{
  font-family: 'Newsreader', serif;
  font-size: 41px;
  font-weight: 700;
  color: #18a0fb;
  font-style: italic;
  margin-bottom: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
